In [37]:
import pandas as pd 
url="https://raw.githubusercontent.com/rackffhiell/calse-profe-/main/data-1.csv"
Gane=pd.read_csv(url, sep=',', encoding='latin-1')

In [39]:
Gane

,CEDULA VENDEDOR,FECHA,TIPO VTA,COD CCOSTO,NOMBRE CCOSTO,COD PDV,CANAL,NOMBRE PDV,CARGO,GRUPO_VTA,NOMBRE VENDEDOR,NOMBRE LINEA PRODUCTO,COD TIPO PRODUCTO,NOMBRE TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
0,31792806,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40908,RED FIJA,CL 70 1C 14,VENDEDOR NOMINA,2 SALOMIA 2000,YENY LORENA RESTREPO OSORIO,RASPA Y LISTO,2054,LOTERIA RASPE I,50000,50000.000000
1,1143982192,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40176,RED FIJA,CL 38N 6 35,1:GANESERVICIOS,1 LA FLORA 1000,KAREN VANESSA SANCHEZ VACA,CHANCE,5791,LA QUINTA,1000,840.340027
2,34561954,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40230,RED FIJA,CL 12 5 48,1:GANESERVICIOS,1 LA FLORA 1000,NILSA CORDOBA CORDOBA,DOBLE ACIERTO,575,DOBLEACIERTO 4C,6000,5042.020020
3,1144185171,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40232,RED FIJA,CL 55AN 2EN 06 LC3,1:GANESERVICIOS,1 LA FLORA 1000,JESSICA JARAMILLO JARAMILLO JARAMILLO,RASPA Y LISTO,2054,LOTERIA RASPE I,100000,100000.000000
4,39525502,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40233,RED FIJA,CL 10 8 59,1:GANESERVICIOS,1 LA FLORA 1000,MARIA TERESA DE JESUS CASTRO LOPEZ,CHANCE,73,CHANCE,461410,387739.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,31260473,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40933,RED FIJA,CL 73 2 1A 51,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,LUZ MARINA SANTIBANEZ GARCIA,DOBLE ACIERTO,574,DOBLEACIERTO 3C,2000,1680.670044
1995,33816866,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40938,RED FIJA,CL 70A 1A 05,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,MARIA ELENA GALLEGO,ASTRO,751,ASTRO,18100,15210.080078
1996,38969133,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40939,RED FIJA,CL 72 1C 230,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,ALBA MERY ORTIZ MONTOYA,CHANCE,73,CHANCE,57798,48569.750000
1997,29447626,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40949,RED FIJA,CL 82 5N 72,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,CARMEN SIMODOCIA BETANCOURT HERRERA,ASTRO,751,ASTRO,30300,25462.179688
1998,14986327,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40951,RED FIJA,CL 71I 3N 35,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,LUIS ALBERTO TORRES GONZALEZ,ASTRO,751,ASTRO,6000,5042.020020

In [40]:
Gane.head(4)

,CEDULA VENDEDOR,FECHA,TIPO VTA,COD CCOSTO,NOMBRE CCOSTO,COD PDV,CANAL,NOMBRE PDV,CARGO,GRUPO_VTA,NOMBRE VENDEDOR,NOMBRE LINEA PRODUCTO,COD TIPO PRODUCTO,NOMBRE TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
0,31792806,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40908,RED FIJA,CL 70 1C 14,VENDEDOR NOMINA,2 SALOMIA 2000,YENY LORENA RESTREPO OSORIO,RASPA Y LISTO,2054,LOTERIA RASPE I,50000,50000.000000
1,1143982192,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40176,RED FIJA,CL 38N 6 35,1:GANESERVICIOS,1 LA FLORA 1000,KAREN VANESSA SANCHEZ VACA,CHANCE,5791,LA QUINTA,1000,840.340027
2,34561954,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40230,RED FIJA,CL 12 5 48,1:GANESERVICIOS,1 LA FLORA 1000,NILSA CORDOBA CORDOBA,DOBLE ACIERTO,575,DOBLEACIERTO 4C,6000,5042.020020
3,1144185171,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40232,RED FIJA,CL 55AN 2EN 06 LC3,1:GANESERVICIOS,1 LA FLORA 1000,JESSICA JARAMILLO JARAMILLO JARAMILLO,RASPA Y LISTO,2054,LOTERIA RASPE I,100000,100000.000000

In [43]:
Gane.tail(1)

,CEDULA VENDEDOR,FECHA,TIPO VTA,COD CCOSTO,NOMBRE CCOSTO,COD PDV,CANAL,NOMBRE PDV,CARGO,GRUPO_VTA,NOMBRE VENDEDOR,NOMBRE LINEA PRODUCTO,COD TIPO PRODUCTO,NOMBRE TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
1998,14986327,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40951,RED FIJA,CL 71I 3N 35,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,LUIS ALBERTO TORRES GONZALEZ,ASTRO,751,ASTRO,6000,5042.02002

In [45]:
Gane.dtypes

CEDULA VENDEDOR            int64
FECHA                     object
TIPO VTA                  object
COD CCOSTO                 int64
NOMBRE CCOSTO             object
COD PDV                    int64
CANAL                     object
NOMBRE PDV                object
CARGO                     object
GRUPO_VTA                 object
NOMBRE VENDEDOR           object
NOMBRE LINEA PRODUCTO     object
COD TIPO PRODUCTO          int64
NOMBRE TIPO PRODUCTO      object
VENTA BRUTA                int64
VTA BRUTA SIN IVA        float64
dtype: object

In [46]:
Gane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CEDULA VENDEDOR        1999 non-null   int64
 1   FECHA                  1999 non-null   object
 2   TIPO VTA               1999 non-null   object
 3   COD CCOSTO             1999 non-null   int64
 4   NOMBRE CCOSTO          1999 non-null   object
 5   COD PDV                1999 non-null   int64
 6   CANAL                  1999 non-null   object
 7   NOMBRE PDV             1999 non-null   object
 8   CARGO                  1999 non-null   object
 9   GRUPO_VTA              1999 non-null   object
 10  NOMBRE VENDEDOR        1999 non-null   object
 11  NOMBRE LINEA PRODUCTO  1999 non-null   object
 12  COD TIPO PRODUCTO      1999 non-null   int64
 13  NOMBRE TIPO PRODUCTO   1999 non-null   object
 14  VENTA BRUTA            1999 non-null   int64
 15  VTA BRUTA SIN IVA      1999 non-null   float64
dtypes: float64(1), int64(5), object(10)
memory usage: 250.0+ KB

In [48]:
Gane.describe()

,CEDULA VENDEDOR,COD CCOSTO,COD PDV,COD TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
count,1.999000e+03,1999.000000,1999.000000,1999.000000,1.999000e+03,1999.000000
mean,3.317833e+08,40223.828414,41775.871436,1165.783392,7.725983e+04,65067.476907
std,4.738232e+08,2.533277,1161.585863,1557.313952,1.438559e+05,122516.820282
min,6.199080e+05,40221.000000,40176.000000,2.000000,-2.814870e+05,-281487.000000
25%,3.175171e+07,40222.000000,40776.500000,574.000000,5.500000e+03,5000.000000
50%,4.098827e+07,40223.000000,41573.000000,751.000000,2.000000e+04,16806.720703
75%,1.005955e+09,40226.000000,42695.000000,780.000000,8.872500e+04,77647.062500
max,1.235288e+09,40229.000000,44196.000000,5791.000000,1.101591e+06,925706.687500

In [51]:
Gane.isnull().sum()

CEDULA VENDEDOR          0
FECHA                    0
TIPO VTA                 0
COD CCOSTO               0
NOMBRE CCOSTO            0
COD PDV                  0
CANAL                    0
NOMBRE PDV               0
CARGO                    0
GRUPO_VTA                0
NOMBRE VENDEDOR          0
NOMBRE LINEA PRODUCTO    0
COD TIPO PRODUCTO        0
NOMBRE TIPO PRODUCTO     0
VENTA BRUTA              0
VTA BRUTA SIN IVA        0
dtype: int64

In [53]:
Gane.columns

Index(['CEDULA VENDEDOR', 'FECHA', 'TIPO VTA', 'COD CCOSTO', 'NOMBRE CCOSTO',
       'COD PDV', 'CANAL', 'NOMBRE PDV', 'CARGO', 'GRUPO_VTA',
       'NOMBRE VENDEDOR', 'NOMBRE LINEA PRODUCTO', 'COD TIPO PRODUCTO',
       'NOMBRE TIPO PRODUCTO', 'VENTA BRUTA', 'VTA BRUTA SIN IVA'],
      dtype='object')

In [55]:
Gane.shape

(1999, 16)

In [56]:
Gane.head()

,CEDULA VENDEDOR,FECHA,TIPO VTA,COD CCOSTO,NOMBRE CCOSTO,COD PDV,CANAL,NOMBRE PDV,CARGO,GRUPO_VTA,NOMBRE VENDEDOR,NOMBRE LINEA PRODUCTO,COD TIPO PRODUCTO,NOMBRE TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
0,31792806,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40908,RED FIJA,CL 70 1C 14,VENDEDOR NOMINA,2 SALOMIA 2000,YENY LORENA RESTREPO OSORIO,RASPA Y LISTO,2054,LOTERIA RASPE I,50000,50000.000000
1,1143982192,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40176,RED FIJA,CL 38N 6 35,1:GANESERVICIOS,1 LA FLORA 1000,KAREN VANESSA SANCHEZ VACA,CHANCE,5791,LA QUINTA,1000,840.340027
2,34561954,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40230,RED FIJA,CL 12 5 48,1:GANESERVICIOS,1 LA FLORA 1000,NILSA CORDOBA CORDOBA,DOBLE ACIERTO,575,DOBLEACIERTO 4C,6000,5042.020020
3,1144185171,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40232,RED FIJA,CL 55AN 2EN 06 LC3,1:GANESERVICIOS,1 LA FLORA 1000,JESSICA JARAMILLO JARAMILLO JARAMILLO,RASPA Y LISTO,2054,LOTERIA RASPE I,100000,100000.000000
4,39525502,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40233,RED FIJA,CL 10 8 59,1:GANESERVICIOS,1 LA FLORA 1000,MARIA TERESA DE JESUS CASTRO LOPEZ,CHANCE,73,CHANCE,461410,387739.500000

In [77]:
Gane['NOMBRE TIPO PRODUCTO'].unique()

array(['LOTERIA RASPE I', 'LA QUINTA', 'DOBLEACIERTO 4C', 'CHANCE',
       'DOBLEACIERTO 3C', 'ASTRO', 'PAGO RASPE', 'CHANCE MILLONARIO',
       'SUPERGORDO'], dtype=object)

In [79]:
Gane['NOMBRE TIPO PRODUCTO'].value_counts()

CHANCE               462
ASTRO                428
DOBLEACIERTO 3C      274
DOBLEACIERTO 4C      198
LA QUINTA            176
CHANCE MILLONARIO    148
PAGO RASPE           145
LOTERIA RASPE I      132
SUPERGORDO            36
Name: NOMBRE TIPO PRODUCTO, dtype: int64

In [86]:
Gane[Gane['NOMBRE LINEA PRODUCTO']=='CHANCE']

,CEDULA VENDEDOR,FECHA,TIPO VTA,COD CCOSTO,NOMBRE CCOSTO,COD PDV,CANAL,NOMBRE PDV,CARGO,GRUPO_VTA,NOMBRE VENDEDOR,NOMBRE LINEA PRODUCTO,COD TIPO PRODUCTO,NOMBRE TIPO PRODUCTO,VENTA BRUTA,VTA BRUTA SIN IVA
1,1143982192,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40176,RED FIJA,CL 38N 6 35,1:GANESERVICIOS,1 LA FLORA 1000,KAREN VANESSA SANCHEZ VACA,CHANCE,5791,LA QUINTA,1000,840.340027
4,39525502,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40233,RED FIJA,CL 10 8 59,1:GANESERVICIOS,1 LA FLORA 1000,MARIA TERESA DE JESUS CASTRO LOPEZ,CHANCE,73,CHANCE,461410,387739.500000
8,25338304,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40234,RED FIJA,AV 6N 26N 76,20:SUPERGANE,1 LA FLORA 1000,MARIA ISABEL IPIA VILLAQUIRAN,CHANCE,73,CHANCE,346500,291176.468750
12,67027333,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40274,RED FIJA,CR 4 12 50,1:GANESERVICIOS,1 LA FLORA 1000,KAROLAYN HERNANDEZ VELASQUEZ,CHANCE,5791,LA QUINTA,31000,26050.419922
15,1067887645,04/01/2022,VTA,40221,CENTROCOSTO_1-40221,40277,RED FIJA,CL 21N 4N 00 LC 3,1:GANESERVICIOS,1 LA FLORA 1000,ALEIBY DEL CARMEN PEREZ ESTRADA,CHANCE,73,CHANCE,647784,544356.312500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,31792806,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40908,RED FIJA,CL 70 1C 14,VENDEDOR NOMINA,2 SALOMIA 2000,YENY LORENA RESTREPO OSORIO,CHANCE,73,CHANCE,334800,281344.531250
1988,31961856,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40916,RED FIJA,CL 71H 6N 55,1:GANESERVICIOS,2 SALOMIA 2000,MARTHA MARIA LOPEZ SOLANO,CHANCE,73,CHANCE,304647,256005.875000
1992,1006204539,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40917,RED FIJA,CL 73 3N 04,1:GANESERVICIOS,2 SALOMIA 2000,YULI MELISSA HERNANDEZ RIASCOS,CHANCE,5791,LA QUINTA,3000,2521.010010
1993,31866780,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40930,RED FIJA,CL711A APTO1010,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,SONIA LONDONO NAVARRO,CHANCE,73,CHANCE,114397,96131.929688
1996,38969133,04/01/2022,VTA,40222,CENTROCOSTO_2-40222,40939,RED FIJA,CL 72 1C 230,7:CAJON MAQ.PORTATIL,2 SALOMIA 2000,ALBA MERY ORTIZ MONTOYA,CHANCE,73,CHANCE,57798,48569.750000

Yo elijo las columnas del archivo que se llama Gane ya que es es nombre de la empresa en colombia de peustas que tiene gran variedad de prodcutos con estos datos como saon  la  cedula ,fecha, tipo de venta ,  nombre de centro de costo, el grupo de venta, el nombre vendedor.  nombre de tipo prodcuto y la venta bruta . me doy cuenta que la empresa Gane cuales fueron su ventas deacuerdo a la fecha dentro del mes el tipo de venta que reliaron o recaudo, el nombre de centro de costo se refiere a la ciudad o ubicacion donde eesta el punto de venta , el grupo si fuer en un centro comercial o barrio , en nombre quien vendio y el producto , profe  esas variables son perfectas para  sacar analis datos quien cumplio , como va la empresa y toma de deciones . muchas gracias